body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;
}

.nav-container {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

.nav1 {
  background-color: #f8f9fa;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.nav1 ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  align-items: center;
  padding: 0;
}

.nav1 li {
  display: inline;
}
.nav1 a {
  text-decoration: none;
  color: #1a1a1a;
  padding: 5px 15px;
  position: relative;
}

.nav1 a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 153, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.nav1 a:hover::after {
  transform: scaleX(1);
}

.nav1 .login-btn {
  background-color: rgb(0, 153, 255);
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  cursor: pointer;
}

/* nav2 */
.nav2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: #4ed619;
  width: 300px;
  padding: 20px;
}

.nav2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.nav2 li {
  margin-bottom: 8px;
}

.nav2 a {
  text-decoration: none;
  padding: 10px;
  color: #bdecab;
  display: block;
  width: 100%;
}

.nav2 a:hover {
  background-color: #bdecab;
  color: #4ed619;
  transition: 0.2s ease-in;
}

.nav2 .login-btn {
  background-color: #bdecab;
  color: #4ed619;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
}

.nav2 .login-btn:hover {
  background-color: #21580c;
  color: #bdecab;
  transition: 0.2s ease-in;
}

/* nav3 */
.nav3 {
  background-color: #701afa;
  padding: 10px;
}

.nav3 ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav3 a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  display: block;
}

.nav3 .dropdown-content {
  display: none;
}

.nav3 a:hover {
  font-weight: bold;
}

.nav3 .dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  background-color: #a067eb;
  min-width: 150px;
}

.nav3 .login-btn {
  background-color: #e5d0f1;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
}
