@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
}

.container {
  background: linear-gradient(135deg, #8a2be2, #4169e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 20px;
  max-width: 400px;
}

.logo {
  width: 200px;
  object-fit: contain;
}

h1 {
  color: #333;
  margin-bottom: 16px;
}

p {
  color: #666;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="email"] {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
}

input[type="email"]:focus {
  outline: none;
  border-color: rgb(65, 105, 225);
  box-shadow: 0 0 5px rgba(65, 105, 255, 0.5);
}

button {
  padding: 8px;
  background-color: #8a2be2;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}

button:hover {
  background-color: #5e1d97;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}
